@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: rgba(255, 7, 7, 0);
}

h1,
h4,
p,
a {
  color: rgb(85, 37, 37);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(85, 37, 37, 0.782);
  color: #222;
  border: 1px solid #ffff;
  font-weight: 500;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: rgb(255, 252, 252);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
